<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Todos los Productos</title>
</head>
<body>
    <h1>Lista Completa</h1>
    <ul>
        {{#each productos}}
            <li>{{nombre}}</li>
        {{/each}}
    </ul>
</body>
</html>
